{% extends 'default/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('fontello-6c49bd00/css/fontello.css')}}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('js/calculator/Validation.js')}}"></script>
	<script src="{{asset('js/calculator/Calculation.js')}}"></script>
	<script src="{{asset('js/calculator/index.js')}}"></script>
{% endblock %}

{% block content %}
	<div class="container jumbotron">
		<div class="row">
			<div class="col-xs-12 box">
				<h1>Kalkulator działań pisemnych</h1>
				<p>{{ page.content }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-6" id="result"></div>
			<div class="col-xs-12 col-md-6" id="form">
				<div id="calculator" class="form-horizontal">
					<div class="col-xs-12 col-sm-6">
						<div class="form-group col-xs-12">
								<input class="form-control" type="text" name="first" placeholder="Pierwsza liczba"/>
						</div>
						<div class="form-group col-xs-12">
								<input class="form-control" type="text" name="second" placeholder="Druga liczba"/>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="form-group">
							<div class="form_buttons">
								<button type="button" class="btn btn-success" id="add"><span class="demo-icon icon-plus-1"></span></button>
								<button type="button" class="btn btn-danger" id="subtract"><span class="demo-icon icon-minus-1"></span></button>
							</div>
							<div class="form_buttons">
								<button type="button" class="btn btn-primary" id="multiply"><span class="demo-icon icon-cancel"></span></button>
								<button type="button" class="btn btn-warning" id="divide"><span class="demo-icon icon-divide"></span></button>
							</div>
						</div>
					</div>
					<div class="col-xs-12" id="range">
						<label>Prędkość: <span></span></label>
						<input type="range" min="1" max="3000" value="2250" />
						<div>
							<span>Wolno</span>
							<span>Szybko | Natychmiast</span>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
{% endblock %}